# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Conda / virtual environments
.env/
.venv/
env/
venv/
*.conda
*.env

# Jupyter Notebook checkpoints
*.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp

#large data
data/irradiance/


